    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        --bgred2: linear-gradient(130deg, #319197, #af002d 41.07%, #ff7a18 76.05%);
        --bgred: linear-gradient(90deg, rgba(255, 122, 24, 1) 0%, rgba(175, 0, 45, 1) 41%, rgba(49, 145, 151, 1) 100%);
        --bggreen: linear-gradient(90deg, rgba(54, 49, 151, 1) 0%, rgba(0, 175, 155, 1) 67%, rgba(52, 255, 24, 1) 100%);
    }
    
    a {
        color: white;
        text-decoration: none;
    }
    
    a:hover {
        color: orange;
    }
    
    body {
        transition: all 0.5s ease 0s;
        display: block;
        color: aliceblue;
        background-color: #000000;
        font-size: 16px;
        font-family: "Montserrat", sans-serif;
        width: 100%;
        height: 100%;
    }
    
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: #000000;
        overflow-x: hidden;
        transition: all 0.5s ease 0s;
    }
    
    .overlay .close {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        color: #edf0f1;
        cursor: pointer;
    }
    
    .overlay__content {
        border: 10px solid;
        border-image-slice: 1;
        border-width: 10px;
        border-image-source: var(--bgred);
        /* background: linear-gradient( 130deg, #319197, #af002d 41.07%, #ff7a18 76.05%); */
        /* display: flex; */
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .overlay--active {
        width: 100%;
    }
    
    .mobilemenuitems {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        cursor: pointer;
        width: 220px;
        color: white;
        text-decoration: none;
        padding: 15px;
        font-size: 20px;
        display: block;
        transition: all 0.3s ease 0s;
    }
    
    .mobilemenuitems a:hover {
        color: white;
    }
    
    .mobilemenuitems:hover {
        color: orange;
    }
    
    .how:hover {
        color: orange;
    }
    
    .mobilemenuitems:first-child {
        margin-top: 80px;
    }
    
    .yearwisenotes_mobile_header {
        background: var(--bgred);
        border-radius: 15px;
        padding: 7px;
    }
    
    .yearwisenotes_mobile_header:hover {
        color: white;
    }
    
    .semwisenotes_mobile_header {
        background: var(--bgred);
        border-radius: 15px;
        padding: 7px;
    }
    
    .semwisenotes_mobile_header:hover {
        color: white;
    }
    
    .yearwisenotes_mobile ul li {
        margin-left: auto;
        margin-right: auto;
        width: 120px;
        list-style: none;
        /* display: flex; */
        /* width: 250px; */
    }
    
    .mobile_yearwise_list {
        border-radius: 8px;
        margin-top: 5px;
    }
    
    .mobile_semwise_list {
        border-radius: 8px;
    }
    
    .semwisenotes_mobile ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .mobile_semwise_list {
        list-style: none;
        min-width: 60px;
        text-align: centers;
    }
    
    .navbar {
        /* background-color: rgba(255, 255, 255, 0.219); */
        display: flex;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        flex-direction: row;
        z-index: 1;
        background-color: rgb(0, 0, 0);
        width: 100%;
    }
    
    .navbar:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 4px;
        background: var(--bgred2);
    }
    
    .revanotesheadertext {
        font-family: 'Solway', serif;
        text-align: center;
        font-size: 2rem;
        padding: 16px 30px 10px 30px;
        margin-right: auto;
        cursor: pointer;
        /* animation-name: ch;
        animation-duration: 1s;
        animation-iteration-count: 3; */
    }
    /* @keyframes ch { */
    /* 50% { */
    /* color: linear-gradient( 130deg, #319197, #af002d 41.07%, #ff7a18 76.05%); */
    /* color: orange; */
    /* background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 41%, rgba(49, 145, 151, 1) 100%); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    /* } */
    /* } */
    
    .revanotesheadertext:hover {
        background: rgb(0, 0, 0);
        background: var(--bgred);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .navbar>ul {
        display: flex;
        padding: 0px;
        margin: 0px;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    
    .navbar>ul>li {
        list-style-type: none;
        padding: 9px 11px;
        margin: 12px;
        font-size: 18px;
        cursor: pointer;
        border-radius: 7px;
        /* background-color: rgba(255, 250, 250, 0.356); */
        /* transition: background-color .6s ease; */
        transition: color .3s ease;
        color: rgb(255, 255, 255);
    }
    
    .navbar>ul>li:hover {
        /* transition: background-color .6s ease; */
        transition: color .3s ease;
        color: #ff9142;
        /* animation-name: colorr;
        /* animation-duration: 1s; */
        /* animation-iteration-count: 3; */
        /* animation-fill-mode: forwards; */
        /* background-color: rgb(255, 255, 255); */
    }
    /* @keyframes colorr {
        99% {
            color: #ff9142;
        }
    } */
    
    .menu {
        display: none;
    }
    
    .yearwisenotes {
        display: none;
        z-index: 1;
        position: absolute;
        top: 80px;
        min-width: 155px;
        background: var(--bgred)
        /* background-color: rgb(255, 255, 255); */
    }
    
    .yearwisenotes ul li {
        list-style: none;
        border-bottom: 4px solid black;
        color: #fff5f5;
        text-align: center;
        font-size: 18px;
        padding: 3px;
    }
    
    .semwisenotes {
        display: none;
        z-index: 1;
        position: absolute;
        top: 80px;
        min-width: 155px;
        background: var(--bgred);
        /* background-color: rgb(255, 255, 255); */
    }
    
    .semwisenotes ul li {
        list-style: none;
        border-bottom: 4px solid black;
        color: #fff5f5;
        text-align: center;
        font-size: 18px;
        padding: 3px;
    }
    
    .hower:hover {
        background: var(--bggreen);
        color: rgb(255, 255, 255);
    }
    
    .show {
        display: block;
    }
    
    .showw {
        display: block;
    }
    
    .content {
        line-height: 1.6;
        margin: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 80vh;
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .welcome {
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin-top: 10vh;
        font-size: 48px;
        font-family: 'Gotham Black', sans-serif;
    }
    
    .welcome2 {
        font-family: monospace;
        text-transform: uppercase;
        font-size: 1.25rem;
        font-weight: 800;
        text-align: center;
        display: block;
    }
    
    .branchtext {
        display: block;
        padding-top: 40px;
        text-align: center;
    }
    
    .branchselect {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        font-size: 22px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .branchselect input {
        font-size: 18px;
        display: block;
        margin-left: 0vw;
        margin-top: 5px;
        width: 220px;
    }
    
    .dropdown-content2 {
        display: none;
        margin-left: 7px;
        margin-top: 266px;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 130px;
        overflow: auto;
        border: 1px solid #ddd;
        z-index: 1;
        height: 200px;
        max-height: 200px;
        overflow-y: scroll;
        font-size: 1rem;
    }
    
    .dropdown-content2 a {
        color: black;
        font-size: 16px;
        padding: 12px 16px;
        font-size: 1rem;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content2 a:hover {
        background-color: rgb(211, 209, 209);
    }
    
    .dropbtn2 {
        background-color: #ffffff;
        cursor: pointer;
        color: rgb(0, 0, 0);
        border: 2px solid white;
        border-radius: 10px;
        padding: 6px 12px;
        outline: none;
    }
    
    .show22 {
        display: block;
    }
    
    .footer {
        color: rgb(255, 255, 255);
        position: absolute;
        bottom: 0;
        /* left: 0%;
         right: 0%; */
        width: 100%;
        background-color: rgb(0, 0, 0);
        text-align: center;
        cursor: default;
        padding: 4px;
        line-height: 1.2;
        /* border-top: linear-gradient( 130deg, #ff7a18, #af002d 41.07%, #319197 76.05%); */
        color: white;
    }
    
    .footer img {
        filter: saturate(100%);
        height: 40px;
        width: 40px;
        float: right;
        margin-right: 5px;
    }
    
    .footer img:hover {
        filter: saturate(50%);
    }
    
    .footer:before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: 4px;
        background: linear-gradient(130deg, #319197, #af002d 41.07%, #ff7a18 76.05%);
    }
    
    @media only screen and (max-width: 990px) {
        .menu {
            display: block;
        }
        .navbar>ul>li {
            padding: 0;
            margin: 0px;
            margin-right: 33px;
            font-size: 48px;
            line-height: 1.3;
        }
        .listitem1 {
            display: none;
        }
        .listitem2 {
            display: none;
        }
        .listitem3 {
            display: none;
        }
        .listitem4 {
            display: none;
        }
    }
    
    @media only screen and (max-width:410px) {
        .revanotesheadertext {
            font-size: 24px;
            padding: 16px 20px 10px 20px;
        }
        .navbar>ul>li {
            margin-right: 17px;
            margin-top: 11px;
            line-height: 0.9;
            font-size: 40px;
        }
        .welcome {
            font-size: 28px;
        }
        .welcome2 {
            font-size: 16px;
        }
        .navbar li {
            margin: 8px;
        }
        .branchselect {
            font-size: 16px;
        }
        .branchselect input {
            width: 190px;
        }
    }
    
    @media only screen and (max-width:330px) {
        .revanotesheadertext {
            font-size: 22px;
        }
    }